* {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
}
body{
    background: #e5e5e5;
}
header{
    margin-left: 40px;
}
main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
    }
    .input-texto{
        margin-top: 90px;
    }
    .mensagem{
        position: fixed;
        margin-top: 20px;
        margin-left: 90px;
        background-image: url("");
        background-repeat: no-repeat;
        background-position: 18px;
        background-size: 300px;
    }
    .copiar{
        position: relative;
        margin-top: 330px;
        margin-left: 205px;

    }
    .botoes{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .encriptar{
        background-color: #0A3871;
        color: #ffffff;
    }
    .desencriptar {
        margin-left: 30px;
    }
    .informacao{
        font-size: 15px;
    }